/* userdata.module.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.department {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.department h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.department p {
  margin-bottom: 10px;
}

.department h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.userProfile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.user{
  display: grid;
  grid-template-columns: auto auto auto;
}
